
@{
    ViewData["Title"] = "Index";
}
@model List<EventViewModel>


<html>
<head>
	<title>Events</title>
@*	<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/vendor/OwlCarousel/owl.carousel.css">
	<link rel="stylesheet" href="~/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">*@
	<!-- Add other stylesheets if needed -->
</head>

<body>
	<div class="tab-pane" id="orders" style="margin-top: 6% !important;">

		@*<div class="offcanvas-top-area">
			<div class="create-bg">
				<a asp-controller="Events" asp-action="Create" class="offcanvas-create-btn">
					<i class="fa-solid fa-calendar-days"></i>
					<span>Create Event</span>
				</a>
			</div>
		</div>*@

		@if (Model.Any())
		{
			@foreach (var item in Model)
			{
				<div class="main-card mt-4">
					<div class="card-top p-4">
						<div class="card-event-img">
							<img src="@item.StockPictureUrl" >
						</div>
						<div class="card-event-dt">
							<h5>@item.Title</h5>

						</div>
					</div>
					<div class="card-bottom">
						<div class="card-bottom-item">
							<div class="card-icon">
								<i class="fa-solid fa-calendar-days"></i>
							</div>
							<div class="card-dt-text">
								<h6>Event Created</h6>
								<span>@item.CreatedTime.ToString("yyyy-MM-dd")</span>
							</div>
						</div>
						<div class="card-bottom-item">
							<div class="card-icon">
								<i class="fa-solid fa-calendar-days"></i>
							</div>
							<div class="card-dt-text">
								<h6>Event Date</h6>
								<span>@item.EventDateTime.ToString("yyyy-MM-dd HH:mm")</span>
							</div>
						</div>
						<div class="card-bottom-item">
							<div class="card-icon">
								<i class="fa-solid fa-ticket"></i>
							</div>
							<div class="card-dt-text">
								<h6>Location</h6>
								<span>@item.Location</span>
							</div>
						</div>
						<div class="card-bottom-item">
							<div class="card-icon">
								<i class="fa-solid fa-money-bill"></i>
							</div>
							<div class="card-dt-text">
								<h6>Paid Amount</h6>
								<span>@item.Price</span>
							</div>
						</div>
						@*<div class="card-bottom-item">
							<div class="card-icon">
								<i class="fa-solid fa-money-bill"></i>
							</div>
							<div class="card-dt-text">
								<h6>Invoice</h6>
								<a>Download</a>
							</div>
						</div>*@
					</div>
					<a asp-controller="Events" asp-action="Update" asp-route-id="@item.Id" class="btn btn-default btn-hover steps_btn">Update</a>
					<a asp-controller="Events" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-backtoevent">Delete</a>
				</div>
			}
		}
		else
		{
			<div><h1>There is no event</h1></div>
		}
		<a asp-controller="Events" asp-action="Create" class="btn btn-success btn-sm">Create an Event</a>

</div>

</body>

</html>
