
@{
    ViewData["Title"] = "Index";
}

@model UserViewModel


<!DOCTYPE html>
<html lang="en" class="h-100">

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/organiser_profile_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:02:08 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title>Barren - Simple Online Event Ticketing System</title>

	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href="~/images/fav.png">


</head>

<body class="d-flex flex-column h-100">
	<!-- Follow People Model Start-->
	<div class="modal fade" id="FFModal" tabindex="-1" aria-labelledby="FFModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="FFModalLabel">Following & Followers</h5>
					<button type="button" class="close-model-btn" data-bs-dismiss="modal" aria-label="Close"><i class="uil uil-multiply"></i></button>
				</div>
				<div class="modal-body">
					<div class="model-content follow-people-content">
						<div class="">
							
							<div class="tab-content mt-4">
								<div class="tab-pane fade active show" id="following" role="tabpanel" aria-labelledby="pills-following-tab">
									<div class="users-list min-height-430">
										<div class="user-follow-card mb-4">
											<div class="follow-card-left">
												<div class="follow-avatar">
													<img src="~/images/profile-imgs/img-2.jpg" alt="">
												</div>
												
											</div>
											
										</div>
										<div class="user-follow-card mb-4">
										
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Follow People Model End-->
	<!-- About Details Model Start-->
	<!-- About Details Model End-->
	<!-- Header Start-->
	
	<!-- Header End-->
	<!-- Body Start-->
	<div class="wrapper">
		<div class="profile-banner">
			<div class="hero-cover-block">
				<div class="hero-cover">
					<div class="hero-cover-img"></div>
				</div>
				<div class="upload-cover">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="cover-img-btn">
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="user-dt-block">
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-5 col-md-12">
							<div class="main-card user-left-dt">
								<div class="user-avatar-img">
									<img src="~/images/profile-imgs/img-11.jpg" alt="">
									<div class="avatar-img-btn">
										<input type="file" id="avatar-img">
										<label for="avatar-img"><i class="fa-solid fa-camera"></i></label>
									</div>
								</div>
								<div class="user-dts">
									<h4 class="user-name">@Model.UserName<span class="verify-badge"><i class="fa-solid fa-circle-check"></i></span></h4>
									<span class="user-email">@Model.Email</span>
								</div>
								
								<div class="user-description">
									<p>@Model.City</p>
								</div>
								<div class="user-btns">
									<a asp-controller="Events" asp-action="Index" class="co-main-btn co-btn-width min-width d-inline-block h_40">My Events<i class="fa-solid fa-right-left ms-3"></i></a>
								</div>
								<div class="profile-social-link">
									<h6>Find me on</h6>
									<div class="social-links">
										<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fab fa-facebook-square"></i></a>
										<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a>
										<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a>
										<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
										<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><i class="fab fa-youtube"></i></a>
										<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Website"><i class="fa-solid fa-globe"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-8 col-lg-7 col-md-12">
							<div class="right-profile">
								<div class="profile-tabs">
									<ul class="nav nav-pills nav-fill p-2 garren-line-tab" id="myTab" role="tablist">
										
										<li class="nav-item">
											<a class="nav-link visible show active" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false"><i class="fa-solid fa-circle-info"></i>About</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="setting-tab" data-bs-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="false"><i class="fa-solid fa-gear"></i>Setting</a>
										</li>
										
									</ul>
									<div class="tab-content" id="myTabContent">
										
										<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
											<div class="main-card mt-4">
												<div class="bp-title position-relative">
													<h4>About</h4>
												
												</div>
												<div class="about-details">
													<div class="about-step">
														<h5>Name</h5>
														<span>@Model.UserName</span>
													</div>
													<div class="about-step">
														<h5>Tell us about yourself and let people know who you are</h5>
														<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt interdum nunc et auctor. Phasellus quis pharetra sapien. Integer ligula sem, sodales vitae varius in, varius eget augue.</p>
													</div>
													<div class="about-step">
														<h5>Find me on</h5>
														<div class="social-links">
															<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fab fa-facebook-square"></i></a>
															<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a>
															<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a>
															<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
															<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><i class="fab fa-youtube"></i></a>
															<a href="#" class="social-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Website"><i class="fa-solid fa-globe"></i></a>
														</div>
													</div>
													<div class="about-step">
														<h5>Address</h5>
														<p class="mb-0">@Model.City</p>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="setting" role="tabpanel" aria-labelledby="setting-tab">
											<div class="row">
												<div class="col-lg-12">
													<div class="main-card mt-4 p-0">
														<div class="nav custom-tabs" role="tablist">
															<button class="tab-link" data-bs-toggle="tab" data-bs-target="#tab-02" type="button" role="tab" aria-controls="tab-02" aria-selected="false"><i class="fa-solid fa-key me-3"></i>Password Settings</button>
															<button class="tab-link" data-bs-toggle="tab" data-bs-target="#tab-03" type="button" role="tab" aria-controls="tab-03" aria-selected="false"><i class="fa-solid fa-gear me-3"></i>Privacy Settings</button>
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="main-card mt-4">
														<div class="tab-content">
															<div class="tab-pane fade show active" id="tab-01" role="tabpanel">
																
																
															</div>
															<div class="tab-pane fade" id="tab-02" role="tabpanel">
																<div class="bp-title">
																	<h4>Password Settings</h4>
																</div>
																<div class="password-setting p-4">
																	<div class="password-des">
																		<h4>Change password</h4>
																		<p>You can update your password from here. If you can't remember your current password, just log out and click on Forgot password.</p>
																	</div>
																	<div class="change-password-form">
																		<div class="form-group mt-4">
																			<label class="form-label">Current password*</label>
																			<div class="loc-group position-relative">
																				<input class="form-control h_50" type="password" placeholder="Enter your password">
																				<span class="pass-show-eye"><i class="fas fa-eye-slash"></i></span>
																			</div>
																		</div>
																		<div class="form-group mt-4">
																			<label class="form-label">New password*</label>
																			<div class="loc-group position-relative">
																				<input class="form-control h_50" type="password" placeholder="Enter your password">
																				<span class="pass-show-eye"><i class="fas fa-eye-slash"></i></span>
																			</div>
																		</div>
																		<div class="form-group mt-4">
																			<label class="form-label">Confirm new password*</label>
																			<div class="loc-group position-relative">
																				<input class="form-control h_50" type="password" placeholder="Enter your password">
																				<span class="pass-show-eye"><i class="fas fa-eye-slash"></i></span>
																			</div>
																		</div>
																		<button class="main-btn btn-hover w-100 mt-5" type="submit">Update Password</button>
																	</div>
																</div>
															</div>
															<div class="tab-pane fade" id="tab-03" role="tabpanel">
																<div class="bp-title">
																	<h4>Privacy Settings</h4>
																</div>
																<div class="privacy-setting p-4">
																	<div class="setting-step">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Lock my user profile</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">Locking profile hides all kinds of user information, activities and interaction from public profile</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to contact me</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">People will be able to send you emails through Barren who visits your profile</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to find and invite me to relevant events</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox" checked="">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">Based on your preferences event organisers will be able to send you invitations in their events</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to follow me</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">People will be able to follow you</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to see my followings</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">People will be able to see whom and which organisations you are following</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to see my join date</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">People will be able to see when you have started using Barren</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to see the events I attend</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-4">People will be able to see the events you have purchased</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to see the events I join as speaker</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-0">People will be able to see the events you have joined as Speaker</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Allow people to see the events I share</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox" checked="">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-0">People will be able to see the events you have shared in Barren</p>
																	</div>
																	<div class="setting-step pt-4">
																		<div class="d-flex align-items-center justify-content-between">
																			<h3 class="setting-title">Hide review interactions from public</h3>
																			<label class="btn-switch m-0 ml-2">
																				<input type="checkbox">
																				<span class="checkbox-slider"></span>
																			</label>
																		</div>
																		<p class="mt-1 mb-0">The reviews and ratings given by you will not appear in your public profile</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Body End-->
	<!-- Footer Start-->
	
	<!-- Footer End-->


@*	<script src="~/~/js/jquery-3.6.0.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/js/custom.js"></script>
	<script src="~/js/night-mode.js"></script>*@
</body>

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/organiser_profile_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:02:08 GMT -->
</html>

