
@{
    ViewData["Title"] = "Detail";
}

@model EventViewModel

<!DOCTYPE html>
<html lang="en" class="h-100">

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/venue_event_detail_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:01:51 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title>Barren - Simple Online Event Ticketing System</title>

</head>

<body class="d-flex flex-column h-100">
	<!-- Header Start-->
	
	<!-- Header End-->
	<!-- Body Start-->
	<div class="wrapper">
		<div class="event-dt-block p-80">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="event-top-dts">
							<div class="event-top-date">
								<span class="event-month">@Model.EventDateTime.ToString("MMMM")</span>
								<span class="event-date">@Model.EventDateTime.ToString("dd")</span>
							</div>
							<div class="event-top-dt">
								<h3 class="event-main-title">@Model.Title</h3>
								<div class="event-top-info-status">
									<span class="event-type-name"><i class="fa-solid fa-location-dot"></i>@Model.Location</span>
									<span class="event-type-name details-hr">Starts on <span class="ev-event-date">@Model.EventDateTime</span></span>
									<span class="event-type-name details-hr">2h</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7 col-md-12">
						<div class="main-event-dt">
							<div class="event-img">
								<img src="@Model.StockPictureUrl" alt="">
							</div>
							
							<div class="main-event-content">
								<h4>About This Event</h4>
								<p>@Model.Description</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-5 col-md-12">
						<div class="main-card event-right-dt">
							<div class="bp-title">
								<h4>Event Details</h4>
							</div>
						
							<div class="event-dt-right-group mt-5">
								<div class="event-dt-right-icon">
									<i class="fa-solid fa-circle-user"></i>
								</div>
								<div class="event-dt-right-content">
									<h4>Organised by</h4>
									<h5>@Model.UserName</h5>
									
								</div>
							</div>
							<div class="event-dt-right-group">
								<div class="event-dt-right-icon">
									<i class="fa-solid fa-calendar-day"></i>
								</div>
								<div class="event-dt-right-content">
									<h4>Date and Time</h4>
									<h5>@Model.EventDateTime</h5>
								
								</div>
							</div>
							<div class="event-dt-right-group">
								<div class="event-dt-right-icon">
									<i class="fa-solid fa-location-dot"></i>
								</div>
								<div class="event-dt-right-content">
									<h4>Location</h4>
									<h5 class="mb-0">@Model.Location</h5>
									
								</div>
							</div>
							<div class="select-tickets-block">
								<h6>Select Tickets</h6>
								<div class="select-ticket-action">
									<div class="ticket-price">@Model.Price</div>
									<div class="quantity">
										<div class="quantity">
											<div class="counter">
												<span class="down" onClick="decreaseCount()">-</span>
												<input type="text" id="quantityInput" name="Quantity" value="1">
												<span class="up" onClick="increaseCount()">+</span>
											</div>

										</div>

									</div>
								</div>
								<div class="xtotel-tickets-count">
									<div class="x-title">
										<span id="quantityDisplay">1</span> Ticket(s)
									</div>
									<h4>Total: <span class="totalPrice" id="calculatedTotal" value="@Model.Price">@Model.Price</span></h4>

								</div>
							</div>
							<div class="booking-btn">
								<a asp-controller="Basket" id="bookNow" asp-action="AddBasketItem" asp-route-eventId="@Model.Id" asp-route-quantity="0" class="main-btn btn-hover w-100">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End-->
	<!-- Footer Start-->

	<!-- Footer End-->


	<script>
		function increaseCount() {
			var quantityInput = document.getElementById('quantityInput');
			var quantity = parseInt(quantityInput.value) + 1;
			quantityInput.value = quantity;
			updateTotal();
		}

		function decreaseCount() {
			var quantityInput = document.getElementById('quantityInput');
			var quantity = parseInt(quantityInput.value);
			if (quantity > 1) {
				quantityInput.value = quantity - 1;
				updateTotal();
			}

		}

		function updateTotal() {
			var quantity = parseInt(document.getElementById('quantityInput').value);
			var price = parseFloat('@Model.Price');
			var total = quantity * price;
			var bookNow = document.getElementById("bookNow");
			var currentHref = bookNow.getAttribute("href");
			var newHref = currentHref.replace(/quantity=[^&]+/, "quantity=" + quantity);

			bookNow.setAttribute("href", newHref);


			document.getElementById('quantityDisplay').textContent = quantity;
			document.getElementById('calculatedTotal').textContent = total.toFixed(2) + ' AZN';
		}

		//function increaseCount() {
		//	var quantityInput = document.getElementById('quantityInput');
		//	var currentQuantity = parseInt(quantityInput.value);
		//	quantityInput.value = currentQuantity + 1;
		//	updateTotal(); // Call function to update the total
		//}

		//function decreaseCount() {
		//	var quantityInput = document.getElementById('quantityInput');
		//	var currentQuantity = parseInt(quantityInput.value);
		//	if (currentQuantity > 1) {
		//		quantityInput.value = currentQuantity - 1;
		//		updateTotal(); // Call function to update the total
		//	}
		//}

		//function updateTotal() {
		//	var quantity = parseInt(document.getElementById('quantityInput').value);
		//	var price = parseFloat('@Model.Price');
		//	var total = quantity * price;

		//	document.getElementById('quantityDisplay').textContent = quantity + 'x';
		//	document.getElementById('calculatedTotal').textContent = 'AZN ' + total.toFixed(2);
		//}

		//// Initial call to update the total
		//updateTotal();
	</script>





</body>


<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/venue_event_detail_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:01:51 GMT -->
</html>

