@{
    ViewData["Title"] = "Home Page";
}
@model List<EventViewModel>

<!DOCTYPE html>
<html lang="en" class="h-100">

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/explore_events.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:01:51 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Gambolthemes">
	<meta name="author" content="Gambolthemes">
	<title>Barren - Simple Online Event Ticketing System</title>


</head>

<body class="d-flex flex-column h-100">
	<!-- Header Start-->

	<!-- Header End-->
	<!-- Body Start-->
	<div class="wrapper">
		<div class="hero-banner">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-8 col-md-10">
						<div class="hero-banner-content">
							<h2>Discover Events For All The Things You Love</h2>
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="explore-events p-80">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="event-filter-items">
							<div class="featured-controls">
								@*@if (Model.Any())
								{
									@foreach (var category in Model)
									{
										<div class="controls">
											<button type="button" class="control" data-filter="all">@category.Category.Name</button>
										
										</div>
									}
								
								}*@
								<div class="controls">

								<button type="button" class="control" data-filter="all">All</button>
								@foreach (var categoryGroup in Model.GroupBy(data => data.Category.Id))
								{
										var category = categoryGroup.First();
										<button type="button" class="control" data-filter=".@category.TrimmedCategory">@categoryGroup.First().Category.Name</button>
								}
								</div>


								<div class="row" data-ref="event-filter-content">
									@if (Model.Any())
									{
										@foreach (var item in Model)
										{

											<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mix @item.TrimmedCategory" data-ref="mixitup-target">
												<div class="main-card mt-4">
													<div class="event-thumbnail">
														<a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="thumbnail-img">
															<img src="@item.StockPictureUrl" alt="">
														</a>
														
													</div>
													<div class="event-content">
														<a class="event-title">@item.Title</a>
														<p>@item.Category.Name</p>
														<div class="duration-price-remaining">
															<span class="duration-price">@item.Price</span>
															<span class="remaining"></span>
														</div>
													</div>
													<div class="event-footer">
														<div class="event-timing">
															<div class="publish-date">
																<span><i class="fa-solid fa-calendar-day me-2"></i>@item.EventDateTime</span>
																<span class="dot"><i class="fa-solid fa-circle"></i></span>
																@*<span>Fri, 3.45 PM</span>*@
															</div>
															<span class="publish-time"><i class="fa-solid fa-clock me-2"></i></span>
														</div>
													</div>
												</div>
											</div>

										}

									}
									else
									{
										<h1>CANT FIND ANY EVENT</h1>
									}

								</div>

								<div class="browse-btn">
									<a href="#" class="main-btn btn-hover ">See More</a>
								</div>
							</div>
						</div>
						<div class="host-engaging-event-block p-80" style="margin-top:3% !important">
							<div class="container">
								<div class="row">
									<div class="col-lg-10">
										<div class="main-title">
											<h3>Host Engaging Online and Venue Events with Barren</h3>
											<p>Organise venue events and host online events with unlimited possibilities using our built-in virtual event platform. Build a unique event experience for you and your attendees.</p>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="engaging-block">
											<div class="owl-carousel engaging-slider owl-theme">
												<div class="item">
													<div class="main-card">
														<div class="host-item">
															<div class="host-img">
																<img src="images/icons/venue-events.png" alt="">
															</div>
															<h4>Venue Events</h4>
															<p>Create outstanding event page for your venue events, attract attendees and sell more tickets.</p>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="host-item">
															<div class="host-img">
																<img src="images/icons/webinar.png" alt="">
															</div>
															<h4>Webinar</h4>
															<p>Webinars tend to be one-way events. Barren helps to make them more engaging.</p>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="host-item">
															<div class="host-img">
																<img src="images/icons/training-workshop.png" alt="">
															</div>
															<h4>Training & Workshop </h4>
															<p>Create and host profitable workshops and training sessions online, sell tickets and earn money.</p>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="host-item">
															<div class="host-img">
																<img src="images/icons/online-class.png" alt="">
															</div>
															<h4>Online Class</h4>
															<p>Try our e-learning template to create a fantastic e-learning event page and drive engagement. </p>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="host-item">
															<div class="host-img">
																<img src="images/icons/talk-show.png" alt="">
															</div>
															<h4>Talk Show</h4>
															<p>Use our intuitive built-in event template to create and host an engaging Talk Show.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonial-block p-80">
							<div class="container">
								<div class="row">
									<div class="col-lg-10">
										<div class="main-title">
											<h3>Transforming Thousands of Event Hosts Just Like You</h3>
											<p>Be part of a winning team. We are continuously thriving to bring the best to our customers. Be that a new product feature, help in setting up your events or even supporting your customers so that they can easily buy tickets and participate your in events. Here is what some of the clients have to say,</p>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="testimonial-slider-area">
											<div class="owl-carousel testimonial-slider owl-theme">
												<div class="item">
													<div class="main-card">
														<div class="testimonial-content">
															<div class="testimonial-text">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus arcu et ligula maximus vehicula. Phasellus at luctus lacus, quis eleifend nibh. Nam vitae convallis nisi, vitae tempus risus.</p>
															</div>
															<div class="testimonial-user-dt">
																<h5>Madeline S.</h5>
																<span>Events Co-ordinator</span>
																<ul>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</div>
															<span class="quote-icon"><i class="fa-solid fa-quote-right"></i></span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="testimonial-content">
															<div class="testimonial-text">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus arcu et ligula maximus vehicula. Phasellus at luctus lacus, quis eleifend nibh. Nam vitae convallis nisi, vitae tempus risus.</p>
															</div>
															<div class="testimonial-user-dt">
																<h5>Gabrielle B.</h5>
																<span>Administration</span>
																<ul>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</div>
															<span class="quote-icon"><i class="fa-solid fa-quote-right"></i></span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="testimonial-content">
															<div class="testimonial-text">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus arcu et ligula maximus vehicula. Phasellus at luctus lacus, quis eleifend nibh. Nam vitae convallis nisi, vitae tempus risus.</p>
															</div>
															<div class="testimonial-user-dt">
																<h5>Piyush G.</h5>
																<span>Application Developer</span>
																<ul>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</div>
															<span class="quote-icon"><i class="fa-solid fa-quote-right"></i></span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="testimonial-content">
															<div class="testimonial-text">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus arcu et ligula maximus vehicula. Phasellus at luctus lacus, quis eleifend nibh. Nam vitae convallis nisi, vitae tempus risus.</p>
															</div>
															<div class="testimonial-user-dt">
																<h5>Joanna P.</h5>
																<span>Event manager</span>
																<ul>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</div>
															<span class="quote-icon"><i class="fa-solid fa-quote-right"></i></span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="testimonial-content">
															<div class="testimonial-text">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus arcu et ligula maximus vehicula. Phasellus at luctus lacus, quis eleifend nibh. Nam vitae convallis nisi, vitae tempus risus.</p>
															</div>
															<div class="testimonial-user-dt">
																<h5>Romo S.</h5>
																<span>Admin</span>
																<ul>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</div>
															<span class="quote-icon"><i class="fa-solid fa-quote-right"></i></span>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="main-card">
														<div class="testimonial-content">
															<div class="testimonial-text">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus arcu et ligula maximus vehicula. Phasellus at luctus lacus, quis eleifend nibh. Nam vitae convallis nisi, vitae tempus risus.</p>
															</div>
															<div class="testimonial-user-dt">
																<h5>Christopher F.</h5>
																<span>Online Marketing Executive</span>
																<ul>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																	<li><i class="fa-solid fa-star"></i></li>
																</ul>
															</div>
															<span class="quote-icon"><i class="fa-solid fa-quote-right"></i></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="our-organisations-block p-80" style="width: 100% !important">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="main-title text-center">
											<h3>321+ events created by thousands of organisations around the globe</h3>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="organisations-area">
											<div class="owl-carousel organisations-slider owl-theme">
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-1.png" alt=""></a>
													</div>
												</div>
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-2.png" alt=""></a>
													</div>
												</div>
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-3.png" alt=""></a>
													</div>
												</div>
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-4.png" alt=""></a>
													</div>
												</div>
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-5.png" alt=""></a>
													</div>
												</div>
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-6.png" alt=""></a>
													</div>
												</div>
												<div class="item">
													<div class="sponsor">
														<a href="#"><img src="images/icons/sponsor-7.png" alt=""></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End-->
	<!-- Footer Start-->
	
	<!-- Footer End-->

	

	<script src="vendor/mixitup/dist/mixitup.min.js"></script>
	
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const findButton = document.getElementById("findButton");
			const categorySelect = document.querySelector(".selectpicker");

			findButton.addEventListener("click", function () {
				const selectedCategoryValue = categorySelect.value;
				// Use the selectedCategoryValue to filter events or perform other actions.
				// For example, you can use an AJAX request to fetch filtered events from the server.
				console.log("Selected Category:", selectedCategoryValue);
			});
		});

	</script>

	<script>
		// Get references to the elements
		const eventContainer = document.querySelector('[data-ref="event-filter-content"]');
		const seeMoreButton = document.querySelector('.browse-btn a');

		// Initial number of events displayed
		let displayedEvents = 8;

		// Function to load additional events
		function loadMoreEvents() {
			// Increase the number of displayed events
			displayedEvents += 2; // Load 2 more columns

			// Show the hidden events based on the displayedEvents count
			const allEvents = Array.from(eventContainer.querySelectorAll('.col-xl-3'));
			allEvents.forEach((event, index) => {
				if (index < displayedEvents) {
					event.style.display = 'block';
				} else {
					event.style.display = 'none';
				}
			});

			// Check if there are more events to load
			if (displayedEvents >= allEvents.length) {
				// Hide the "See More" button when all events are displayed
				seeMoreButton.style.display = 'none';
			}
		}

		// Add a click event listener to the "See More" button
		seeMoreButton.addEventListener('click', loadMoreEvents);

		// Initially hide events beyond the initial display limit
		const allEvents = Array.from(eventContainer.querySelectorAll('.col-xl-3'));
		allEvents.forEach((event, index) => {
			if (index >= displayedEvents) {
				event.style.display = 'none';
			}
		});

		// Hide the "See More" button if all events are initially displayed
		if (displayedEvents >= allEvents.length) {
			seeMoreButton.style.display = 'none';
		}
	</script>



	<script>
		var containerEl = document.querySelector('[data-ref~="event-filter-content"]');

		var mixer = mixitup(containerEl, {
			selectors: {
				target: '[data-ref~="mixitup-target"]'
			}
		});
	</script>

</body>

<!-- Mirrored from www.gambolthemes.net/html-items/barren-html/disable-demo-link/explore_events.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 19:01:51 GMT -->
</html>